@font-face{
  font-family: "Halowen";
  src: url(./Halowen.ttf);
}
*, ::before, ::after{
    box-sizing: border-box;
    margin:0;
    margin:0;
}

:root{
  font-family: Halowen,'Times New Roman', Times, serif;

}
button {
    font-size: 2em;
    background-color: rgb(218, 128, 68);    
}
  
body{        
    height: 100vh;
    width: 100%;
    background-color:#d15656;
    background-image: url(./src/backgroundf.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:aliceblue;
}

.playing{
  display: grid;
  grid-template-columns: 10%  40% 40% 10%;
  grid-template-rows: 2% 8% 8% 60% 20% 2%;
  height: 100%;
  width: 100%;
  background-color: rgba(197, 82, 82, 0.26);
  
}

 #found{    
    grid-row: 3;
    grid-column: 2/span 2;
    font-size: 3em;  
    text-align: center;
    color: black;
  }

 .playing > h1{
    
    font-family: Halowen,'Times New Roman', Times, serif;

  }


 #letters{
    grid-row: 5;
    grid-column: 2/span 2;
    opacity: .7;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

  }

  #letters > button{
    font-family: Halowen,'Times New Roman', Times, serif;

  }

  #letters > button:hover{
    transform: translateY(-25%);
  }
  #drawing {
    
    grid-column: 2/span 2;
    grid-row: 4;
    display: flex;
    justify-content: center;
    animation:float 6s linear infinite;

    
  }

  #drawing img{
    height: 100%;
    width: auto;
    aspect-ratio: 16/9;
    box-shadow: 20px 40px 70px rgb(15, 4, 4);
    border: 5px solid black;

  }
  .reset{
    grid-row: 5;
    grid-column: 2/span 2;
    display: none;
    justify-content: center;
    align-items: center;
  }
  #resetButton{
    width: 50%;
    height: 50%;
  }

  @keyframes float{
    from{
        scale:1;
    }
    50%{
        scale:.98;
    }
    to{
        scale:1;
    }
}

@media screen and (max-width: 750px) {
  #drawing {
    width: 100%;
    height: 100%;
  }
  #drawing img{
    overflow-y: hidden;
    object-position: left;
    object-fit: cover;

  }
}