.cards{
    background-color: var(--secondary-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding:10% 20%;
    z-index: 0;
}

section > .card > img{
    margin-top: 10px;
    width: 18.5%;    
}

section > .card > h4{
    font-family: var(--font-1);
    font-size: 0.9rem;
    letter-spacing: .2rem;
    
}

section > .card >p{
    font-family: var(--font-1);
    font-size: .8rem;
    color: var(--tertiary-color);

}

.card:hover{
    background-color: white;
    border-bottom: 3px solid var(--primary-green);
    transform: scale(1.1);
   

}

